.card {
  // background-color: rgb(168, 168, 224);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 26px;
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  top: 30px;
  // border: 2px solid rgb(255, 255, 255);

  &-pic {
    height: 490px;
    width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
    flex-direction: column;

    span {
      width: 100%;
      cursor: pointer;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 100%
      );
    }
  }
}
